@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <h1 class="display-4">Account Login</h1>
    <p>Hexagonal Architecture Sample (Get Your Hands Dirty on Clean Architecture) <a href="http://gelis-dotnet.blogspot.com/2022/08/blog-post.html">軟體架構設計：無題</a>.</p>
</div>

<div class="text-center">
    <form method="POST">
        <p><input name="UserID" id="UserID" type="text" value="" /></p>
        <p><input name="Password" id="Password" type="password" value="" /></p>
        <p><input type="submit" value="送出" /></p>
        </form>

    
        
        
        
    
</div>